@model MCBA.Models.BillPayViewModel
@using MCBA.Enums;   
@using MCBA.Utils;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillPay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillPayID" />


            <div class="row align-items-center">
                <div class="col-3">
                    <label asp-for="AccountNumber" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="AccountNumber" class="form-control" asp-items="ViewBag.AccountNumber"></select>
                </div>
                <div class="form-text">
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
            </div>


            <div class="row align-items-center">
                <div class="col-3">
                    <label asp-for="PayeeID" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="PayeeID" class="form-control" asp-items="ViewBag.PayeeID"></select>
                </div>
                <div class="form-text">
                    <span asp-validation-for="PayeeID" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-3">
                    <label asp-for="Amount" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Amount" class="form-control" />
                </div>
                <div class="form-text">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

             <div class="row align-items-center">
                <div class="col-3">
                    <label asp-for="ScheduleDate" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ScheduleDate" class="form-control" />
                </div>
                <div class="form-text">
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
                </div>
            </div>            


            <div class="row align-items-center">
                <div class="col-3">
                    <label asp-for="Period" class="control-label"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownList("Period", Enum.GetValues(typeof(billPayEnum))
                    .Cast<billPayEnum>()
                    .Select(e => new SelectListItem() { Value = e.ToString(), Text = e.GetDisplayName() }))
                </div>
                <div class="form-text">
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-3"></div>
                <div class="col-2">
                    <input type="submit" value="Save" class="btn btn-primary customBtn"  />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    
    <a class="btn btn-primary" asp-action="Index">Back to Billpay Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
